
* {
	box-sizing: border-box;
}

body {
	background-color: rgb(220, 220, 220);

}

#ai-button-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	text-align: center;
}

#ai-button, #ai-button:focus, #ai-button:hover, #ai-button:active {
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 200px;
	height: 50px;
	text-align: center;
	font-size: 2em;
	font-family: Arial, sans-serif;

	background: rgb(107,107,107);
    background: -moz-linear-gradient(top, rgba(107,107,107,1) 0%, rgba(75,75,75,1) 100%);
    background: -webkit-linear-gradient(top, rgba(107,107,107,1) 0%,rgba(75,75,75,1) 100%);
    background: linear-gradient(to bottom, rgba(107,107,107,1) 0%,rgba(75,75,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#4B4B4B',GradientType=0 );
    line-height: 50px;
    padding: 0px;
    box-sizing: content-box;
    border: 4px solid rgba(0, 0, 0, 0.0);
}

#ai-button.active {
	border: 4px solid rgba(250, 20, 20, 0.8);
	border-radius: 5px;
}

#ai-button:active {
	-webkit-box-shadow:inset 1px 1px 2px 2px rgba(0,0,0,0.7);
	box-shadow:inset 1px 1px 2px 2px rgba(0,0,0,0.7);
}

#ai-button:hover {
	background: rgb(107,107,107);
    background: -moz-linear-gradient(top, rgba(87,87,87,1) 0%, rgba(61,61,61,1) 100%);
    background: -webkit-linear-gradient(top, rgba(87,87,87,1) 0%,rgba(61,61,61,1) 100%);
    background: linear-gradient(to bottom, rgba(87,87,87,1) 0%,rgba(61,61,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#3D3D3D',GradientType=0 );
}



#wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding: 0px;
	width: 600px;
	border: 6px solid rgb(90, 90, 90);
	border-radius: 20px;
	opacity: 0.7;

}

#grid-background {
	border-collapse: collapse;
	margin: 0px;
}

#grid-background tr {

}

#grid-background td {
	height: 150px;
	width: 150px;

	margin: 0px;
	padding: 0px;

	border: 12px solid rgb(90, 90, 90);
	background-color: rgb(150, 150, 150);

}

#pieces {
	z-index: 20;
	position: relative;
	top: -612px;
}

.piece {
	position: absolute;
	height: 138px;
	width: 132px;
	font-family: Arial;
	font-style: bold;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	padding-top: 0px;
	/*-webkit-box-shadow:inset 1px 1px 2px 1px rgba(90,90,90,0.3);
	box-shadow:inset 1px 1px 2px 1px rgba(90,90,90,0.3); inset*/
	-webkit-box-shadow: 1px 1px 2px 2px rgba(60,60,60,0.5), inset 1px 1px 2px 1px rgba(255,255,255,0.2);
	box-shadow: 1px 1px 2px 2px rgba(60,60,60,0.5), inset 1px 1px 2px 1px rgba(255,255,255,0.2);
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	transition-property: top, left;
	-webkit-transition-property: top, left, background-color;
	transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;

}

.v2, .v4, .v8 {
	font-size: 70px;
	padding-top: 27px;
	color: black;
}

.v16, .v32, .v64 {
	font-size: 60px;
	padding-top: 35px;
	color: black;
}

.v128, .v256, .v512 {
	font-size: 50px;
	padding-top: 42px;
	color: black;
}

.v1024, .v2048, .v4096, .v8192 {
	font-size: 40px;
	padding-top: 48px;
	color: black;
}

.v16384, .v32768, .v65536 {
	font-size: 30px;
	padding-top: 56px;
	color: black;
}
.v2 { background-color: #FFE200; }
.v4 { background-color: #FFC000; }
.v8 { background-color: #FF9E00; }
.v16 { background-color: #FF8900; }
.v32 { background-color: #FF6600; }
.v64 { background-color: #FF3700; }
.v128 { background-color: #DC0000; }
.v256 { background-color: #DC00A8; }
.v512 { background-color: #BB00DC; }
.v1024 { background-color: #8400DC; }
.v2048 { background-color: #4D00DC; }
.v4096 { background-color: #008BDC; }
.v8192 { background-color: #00DCC9; }
.v16384 { background-color: #00DC84; }
.v32768 { background-color: #03D546; }
.v65536 { background-color: #2AD503; }

.x1-y1 { top: 462px; left: 12px; }
.x1-y2 { top: 312px; left: 12px; }
.x1-y3 { top: 162px; left: 12px; }
.x1-y4 { top: 12px; left: 12px; }

.x2-y1 { top: 462px; left: 156px; }
.x2-y2 { top: 312px; left: 156px; }
.x2-y3 { top: 162px; left: 156px; }
.x2-y4 { top: 12px; left: 156px; }

.x3-y1 { top: 462px; left: 300px; }
.x3-y2 { top: 312px; left: 300px; }
.x3-y3 { top: 162px; left: 300px; }
.x3-y4 { top: 12px; left: 300px; }

.x4-y1 { top: 462px; left: 444px; }
.x4-y2 { top: 312px; left: 444px; }
.x4-y3 { top: 162px; left: 444px; }
.x4-y4 { top: 12px; left: 444px; }
